* {
    margin: 0;
    padding: 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.white-background {
    background-color: white;
}

#header {
    position: relative;
    display: flex;
    height: 50px;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 10px;
    z-index: 1;
}

#logo {
    width: 45px;
    height: 45px;
}

#container {
    position: absolute;
    right: 0;
    top: 50px;
    bottom: 0;
    left: 0;
    background-color: #f8f8f8;
    display: flex;
    z-index: 0;
}

.box {
    flex: 1;
    padding: 20px;
}

textarea {
    border: 0px;
    padding: 10px;
    font-size: 15px;
    height: 100%;
    resize: none;
}

textarea:focus {
    outline: none !important;
}

.display-box {
    margin: 30px;
    display: block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.inner-div {
    font-size: 29px;
    padding: 20px;
}
